@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
  margin:0px;
  padding:0px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
/* Navigation */
.Navigation{
  /* background-color: #444; */
  height:100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:0px 50px;
  top:0;
}
.NavigationUl{
  display: flex;
  width:700px;
  justify-content:space-evenly;
}
.NavLink{
  font-size:16px;
  text-decoration: none;
  color: #fff;
  letter-spacing:.5px;
  font-weight: 500;
}
.NavLink:hover{
color:#CFCFCF;
}
/* Logo  */
.Logo{
  height:50px;
}
/* Nav and Cta */
.Nav_Cta{
  height:700px;
  background:url('./Images/Background.jpg');
  background-position: center;
  background-size: cover;
}
/* Cta Text */
.Cta_Text{
  font-size:25px;
  color: #fff;
  margin:250px 0px 0px 50px;
  width:700px;
  background: url('./Images/black-linen.png');
  background-color:#444444a6;
  padding:20px 35px;
  border-radius:5px;
}
.Cta_Btn{
  margin:20px 0px 0px 50px;
  background-color: #fff;
  width:200px;
  font-size:16px;
  font-weight: 500;
  padding:15px 0px;
  text-align: center;
  border-radius:5px;
  cursor: pointer;
}
/* Title*/
.SectionTitle{
  font-size:25px;
  text-align: center;
  margin:70px 0px;
  font-weight: 500;
  color: #343a40;
}
/* About Des */
.AboutDes{
  font-size:16px;
  padding:0px 50px;
  line-height:30px;
  font-weight:500;
  text-align: center;
}
/* EXP */
.EXP{
margin:70px 0px;
}
.ExpCards{
text-align: center;
}
.ExpCard{
  display:inline-block;
  padding:30px 0px;
  margin:15px;
  width:300px;
  color: royalblue;
  font-size: 30px;
}
.ExpCard div{
  display: inline-block;
  margin: 0px 20px;
}
.ExpTitle,.ExpNum{
  font-size:18px;
font-weight: 500;
color: #343a40;
}
.ExpNum{
font-size:30px;
opacity:.8;
}
/* News Card */
.News{
  margin:70px 0px;
  text-align: center;
}
.NewsCard{
  width:280px;
  display: inline-block;
  padding:20px 10px;
  margin:15px;
  text-align: left;
  font-weight:bold;
  transition:.5s;
}
.NewsCard:hover{
  background-color: #d3d3d3;
  transition:.5s;
}
.NewsDate{
  font-size:12px;
  color:royalblue;
  margin: 0px 0px 10px 0px;
}
.NewsDes{
  font-size: 14px;
  color: #343a40;
  margin-bottom:30px;
}
.NewsBtn{
  text-decoration: none;
  font-size:13px;
  padding:10px 15px;
  background-color:royalblue;
  color: #fff;
  border-radius:3px;
  font-weight:500;
}
/* Review */
.Review{
  background-color: #343a40;
  color: #fff !important;
  text-align: center;
}
.TitleReview{
  font-size:25px;
  padding:50px 0px;
  font-weight: 500;
  color: #fff;
}
.ReviewContent{
  padding:0px 170px;
  color: #cfcfcf;
}
.QuoteIcon{
  margin: 5px;
  font-size:35px;
  color: #fff;
}
.ReviewAurthor{
  color:#fff;
  text-align: right;
  padding: 30px;
  font-weight: 500;
}
.PenIcon{
  font-size:30px;
  color:#fff;
  margin: 5px 0px;
}
/* ContactSection */
.ContactSection{
  background: url('./Images/contactBG.jpg');
  background-position:center;
  background-size: cover;
}
.ContactSectionWrap{
  padding:50px;
  height:100%;
  background-color:#444444b5;
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.ContactTitle{
  font-size:25px;
  font-weight:500;
  margin-bottom:30px;
}
.ContactDes{
  font-size:15px;
  font-weight:500;
  margin-bottom:5px;
  color: #cfcfcf;
}
.ContactLink{
  font-size:35px;
  margin:10px;
  color: #fff;
}
.ContactLink:hover{
  color: #cfcfcf;
}