@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
  margin:0px;
  padding:0px;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
/* Navigation */
.Navigation{
  /* background-color: #444; */
  height:100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding:0px 50px;
  top:0;
}
.NavigationUl{
  display: flex;
  width:700px;
  justify-content:space-evenly;
}
.NavLink{
  font-size:16px;
  text-decoration: none;
  color: #fff;
  letter-spacing:.5px;
  font-weight: 500;
}
.NavLink:hover{
color:#CFCFCF;
}
/* Logo  */
.Logo{
  height:50px;
}
/* Nav and Cta */
.Nav_Cta{
  height:700px;
  background:url('./Images/Background.jpg');
  background-position: center;
  background-size: cover;
}
/* Cta Text */
.Cta_Text{
  font-size:25px;
  color: #fff;
  margin:250px 0px 0px 50px;
  width:700px;
  background: url('./Images/black-linen.png');
  background-color:#444444a6;
  padding:20px 35px;
  border-radius:5px;
}
.Cta_Btn{
  margin:20px 0px 0px 50px;
  background-color: #fff;
  width:200px;
  font-size:16px;
  font-weight: 500;
  padding:15px 0px;
  text-align: center;
  border-radius:5px;
  cursor: pointer;
}
/* Title*/
.SectionTitle{
  font-size:25px;
  text-align: center;
  margin:70px 0px;
  font-weight: 500;
  color: #343a40;
}
/* About Des */
.AboutDes{
  font-size:16px;
  padding:0px 50px;
  line-height:30px;
  font-weight:500;
  text-align: center;
}
/* EXP */
.EXP{
margin:50px 0px;
}
.ExpCards{
text-align: center;
}
.ExpCard{
  display:inline-block;
  padding:30px 0px;
  margin:15px;
  width:300px;
  background-color:#cfcfcfc7;
  color: royalblue;
  font-size: 30px;
}
.ExpCard div{
  display: inline-block;
  margin: 0px 20px;
}
.ExpTitle,.ExpNum{
  font-size:18px;
font-weight: 500;
color: #343a40;
}
.ExpNum{
font-size:30px;
opacity:.8;
}